body {
  background-color: #a1b8ce;
  display: flex;
}

.fa-star {
  color: #0b364f;
}

.fa-sleigh {
  color: #06223f;
  transform: scale(-1, 1);
}

@keyframes up {
  0% {
    transform: translateY(0%);
  }

  50% {
    transform: translateY(100px);
  }

  100% {
    transform: translateY(0);
  }
}

@keyframes across {
  from {
    right: 0%;
  }

  to {
    right: 150%;
  }
}

.fa-snowflake {
  color: #ecf2f8;
}

.snow {
  width: 90vw;
  height: 90vh;
  position: absolute;
}

.snowflake {
  animation-name: fall, shake;
  animation-duration: 10s, 5s;
  animation-timing-function: linear, ease-in-out;
  animation-iteration-count: infinite, infinite;
  position: absolute;
  left: 10%;
  z-index: -1;
  filter: blur(0.5px);
}

.snowflake1 {
  animation-name: fall, shake;
  animation-duration: 10s, 3s;
  animation-timing-function: linear, ease-in-out;
  animation-iteration-count: infinite, infinite;
  position: absolute;
  left: 25%;
  top: -100px;
  animation-delay: 1s, 1s;
  z-index: -1;
  filter: blur(0.5px);
}

.snowflake2 {
  animation-name: fall, shake;
  animation-duration: 8s, 5s;
  animation-timing-function: linear, ease-in-out;
  animation-iteration-count: infinite, infinite;
  position: absolute;
  left: 30%;
  top: -100px;
  animation-delay: 2s, 2s;
  z-index: -1;
  filter: blur(0.5px);
}

.snowflake3 {
  animation-name: fall, shake;
  animation-duration: 9s, 5s;
  animation-timing-function: linear, ease-in-out;
  animation-iteration-count: infinite, infinite;
  position: absolute;
  right: 40%;
  top: -100px;
  animation-delay: 3s, 5s;
  z-index: -1;
  filter: blur(0.7px);
}

.snowflake4 {
  animation-name: fall, shake;
  animation-duration: 15s, 5s;
  animation-timing-function: linear, ease-in-out;
  animation-iteration-count: infinite, infinite;
  position: absolute;
  right: 50%;
  top: -100px;
  animation-delay: 4s, 4s;
  z-index: -1;
}

.snowflake5 {
  animation-name: fall, shake;
  animation-duration: 15s, 4s;
  animation-timing-function: linear, ease-in-out;
  animation-iteration-count: infinite, infinite;
  position: absolute;
  left: 60%;
  top: -100px;
  animation-delay: 6s, 2s;
  font-size: 2rem;
  z-index: -1;
  filter: blur(0.5px);
}

.snowflake6 {
  animation-name: fall, shake;
  animation-duration: 12s, 5s;
  animation-timing-function: linear, ease-in-out;
  animation-iteration-count: infinite, infinite;
  position: absolute;
  left: 70%;
  top: -100px;
  animation-delay: 3.2s, 2s;
  font-size: 2rem;
  z-index: -1;
}

.snowflake7 {
  animation-name: fall, shake;
  animation-duration: 11s, 5s;
  animation-timing-function: linear, ease-in-out;
  animation-iteration-count: infinite, infinite;
  position: absolute;
  left: 80%;
  top: -100px;
  animation-delay: 7.2s, 1s;
  z-index: -1;
}

.snowflake8 {
  animation-name: fall, shake;
  animation-duration: 12s, 4s;
  animation-timing-function: linear, ease-in-out;
  animation-iteration-count: infinite, infinite;
  position: absolute;
  left: 90%;
  top: -100px;
  animation-delay: 4s, 2s;
  font-size: 2rem;
  z-index: -1;
  filter: blur(0.5px);
}

.snowflake9 {
  animation-name: fall, shake;
  animation-duration: 12s, 4s;
  animation-timing-function: linear, ease-in-out;
  animation-iteration-count: infinite, infinite;
  position: absolute;
  left: 55%;
  top: -100px;
  animation-delay: 5s, 2s;
  font-size: 2rem;
  z-index: -1;
  filter: blur(0.3px);
}

.snowflake10 {
  animation-name: fall, shake;
  animation-duration: 15s, 9s;
  animation-timing-function: linear, ease-in-out;
  animation-iteration-count: infinite, infinite;
  position: absolute;
  left: 45%;
  top: -100px;
  animation-delay: 2.7s, 2s;
  font-size: 3rem;
  z-index: -1;
}

.snowflake11 {
  animation-name: fall, shake;
  animation-duration: 12s, 7s;
  animation-timing-function: linear, ease-in-out;
  animation-iteration-count: infinite, infinite;
  position: absolute;
  right: 75%;
  top: -100px;
  animation-delay: 0.5s, 2s;
  font-size: 3rem;
  z-index: -1;
}

.snowflake12 {
  /*small*/
  animation-name: fall, shake;
  animation-duration: 12s, 5s;
  animation-timing-function: linear, ease-in-out;
  animation-iteration-count: infinite, infinite;
  position: absolute;
  left: 30%;
  top: -100px;
  animation-delay: 5s, 2s;
  z-index: -1;
  filter: blur(0.9px);
}

.snowflake13 {
  /*small*/
  animation-name: fall, shake;
  animation-duration: 10s, 5s;
  animation-timing-function: linear, ease-in-out;
  animation-iteration-count: infinite, infinite;
  position: absolute;
  right: 85%;
  top: -100px;
  animation-delay: 1s, 2s;
  z-index: -1;
  filter: blur(0.6px);
}

.snowflake14 {
  /*small*/
  animation-name: fall, shake;
  animation-duration: 9s, 4s;
  animation-timing-function: linear, ease-in-out;
  animation-iteration-count: infinite, infinite;
  position: absolute;
  right: 90%;
  top: -100px;
  animation-delay: 2s, 2s;
  z-index: -1;
  filter: blur(0.5px);
}

@keyframes fall {
  0% {
    top: -10%;
  }

  100% {
    top: 100%;
  }
}

@keyframes shake {
  0% {
    transform: translatex(0);
  }

  50% {
    transform: translatex(50px);
  }

  100% {
    transform: translatex(0);
  }
}


.snow-peak-1a {
  /*sharp snow edge*/
  position: absolute;
  content: "";
  bottom: -130px;
  left: -45px;
  border-top: 30px solid #c1cfd7;
  border-right: 25px solid transparent;
  border-bottom: 0px solid transparent;
  border-left: 25px solid transparent;
}

.snow-peak-1b {
  position: absolute;
  content: "";
  bottom: -130px;
  left: -7px;
  border-top: 30px solid #c1cfd7;
  border-right: 25px solid transparent;
  border-bottom: 0px solid transparent;
  border-left: 25px solid transparent;
}


.snow2 {
  position: absolute;
  content: "";
  left: -75px;
  bottom: -98px;
  border-top: 0px solid transparent;
  border-right: 75px solid transparent;
  border-left: 75px solid transparent;
  border-bottom: 100px solid #e4e8eb;
}

.snow-peak-2a {
  position: absolute;
  content: "";
  bottom: -110px;
  left: -60px;
  border-top: 20px solid #e4e8eb;
  border-right: 25px solid transparent;
  border-bottom: 0px solid transparent;
  border-left: 25px solid transparent;
}

.snow-peak-2b {
  position: absolute;
  content: "";
  bottom: -120px;
  left: -25px;
  border-top: 30px solid #e4e8eb;
  border-right: 25px solid transparent;
  border-bottom: 0px solid transparent;
  border-left: 25px solid transparent;
}

.snow-peak-2c {
  position: absolute;
  content: "";
  bottom: -110px;
  right: -60px;
  border-top: 20px solid #e4e8eb;
  border-right: 25px solid transparent;
  border-bottom: 0px solid transparent;
  border-left: 25px solid transparent;
}

.snow3 {
  position: absolute;
  content: "";
  left: -70px;
  bottom: 0px;
  border-top: 0px solid transparent;
  border-right: 70px solid transparent;
  border-left: 70px solid transparent;
  border-bottom: 90px solid #e4e8eb;
}

.snow-peak-3a {
  position: absolute;
  content: "";
  bottom: -100px;
  left: -60px;
  border-top: 30px solid #e4e8eb;
  border-right: 25px solid transparent;
  border-bottom: 0px solid transparent;
  border-left: 25px solid transparent;
}

.snow-peak-3b {
  position: absolute;
  content: "";
  bottom: -100px;
  left: -20px;
  border-top: 30px solid #e4e8eb;
  border-right: 25px solid transparent;
  border-bottom: 0px solid transparent;
  border-left: 25px solid transparent;
}

.snow-peak-3c {
  position: absolute;
  content: "";
  bottom: -100px;
  right: -20px;
  border-top: 30px solid #e4e8eb;
  border-right: 25px solid transparent;
  border-bottom: 0px solid transparent;
  border-left: 25px solid transparent;
}

.snow-peak-3d {
  position: absolute;
  content: "";
  bottom: -100px;
  right: -60px;
  border-top: 30px solid #e4e8eb;
  border-right: 25px solid transparent;
  border-bottom: 0px solid transparent;
  border-left: 25px solid transparent;
}

.snow4 {
  position: absolute;
  content: "";
  left: -47px;
  bottom: -75px;
  border-top: 0px solid transparent;
  border-right: 47px solid transparent;
  border-left: 47px solid transparent;
  border-bottom: 80px solid #c1cfd7;
}

.snow-peak-4a {
  /*sharp snow edge*/
  position: absolute;
  content: "";
  bottom: -100px;
  left: -45px;
  border-top: 30px solid #c1cfd7;
  border-right: 25px solid transparent;
  border-bottom: 0px solid transparent;
  border-left: 25px solid transparent;
}

/* the sharp snow edge an is INVERTED triangle, so we want to see the the top border,not bottom. Top border should have a color. Other borders should be transparent*/

.snow-peak-4b {
  position: absolute;
  content: "";
  bottom: -100px;
  left: -7px;
  border-top: 30px solid #c1cfd7;
  border-right: 25px solid transparent;
  border-bottom: 0px solid transparent;
  border-left: 25px solid transparent;
}

.snow5 {
  position: absolute;
  content: "";
  left: -100px;
  bottom: -75px;
  border-top: 0px solid transparent;
  border-right: 100px solid transparent;
  border-left: 100px solid transparent;
  border-bottom: 75px solid #e4e8eb;
}

.snow-peak-5a {
  position: absolute;
  content: "";
  bottom: -95px;
  left: -60px;
  border-top: 20px solid #e4e8eb;
  border-right: 25px solid transparent;
  border-bottom: 0px solid transparent;
  border-left: 25px solid transparent;
}

.snow-peak-5b {
  position: absolute;
  content: "";
  bottom: -100px;
  left: -25px;
  border-top: 30px solid #e4e8eb;
  border-right: 25px solid transparent;
  border-bottom: 0px solid transparent;
  border-left: 25px solid transparent;
}

.snow-peak-5c {
  position: absolute;
  content: "";
  bottom: -95px;
  right: -60px;
  border-top: 20px solid #e4e8eb;
  border-right: 25px solid transparent;
  border-bottom: 0px solid transparent;
  border-left: 25px solid transparent;
}

.snow6 {
  position: absolute;
  content: "";
  left: -70px;
  bottom: 0px;
  border-top: 0px solid transparent;
  border-right: 70px solid transparent;
  border-left: 70px solid transparent;
  border-bottom: 90px solid #e4e8eb;
}

.snow-peak-6a {
  position: absolute;
  content: "";
  bottom: -100px;
  left: -60px;
  border-top: 30px solid #e4e8eb;
  border-right: 25px solid transparent;
  border-bottom: 0px solid transparent;
  border-left: 25px solid transparent;
}

.snow-peak-6b {
  position: absolute;
  content: "";
  bottom: -100px;
  left: -20px;
  border-top: 30px solid #e4e8eb;
  border-right: 25px solid transparent;
  border-bottom: 0px solid transparent;
  border-left: 25px solid transparent;
}

.snow-peak-6c {
  position: absolute;
  content: "";
  bottom: -100px;
  right: -20px;
  border-top: 30px solid #e4e8eb;
  border-right: 25px solid transparent;
  border-bottom: 0px solid transparent;
  border-left: 25px solid transparent;
}

.snow-peak-6d {
  position: absolute;
  content: "";
  bottom: -100px;
  right: -60px;
  border-top: 30px solid #e4e8eb;
  border-right: 25px solid transparent;
  border-bottom: 0px solid transparent;
  border-left: 25px solid transparent;
}